<div class="ingredient-row mb-3 row align-items-end">
    <div class="col-md-5">
        {% set ingredient_id = form.ingredient.vars.id %}
        <label for="{{ ingredient_id }}" class="form-label">Ingrédient</label>
        {{ form_widget(form.ingredient, {
            'attr': {
                'class': 'form-select ingredient-select',
                'id': ingredient_id
            }
        }) }}
    </div>
    <div class="col-md-3">
        {% set quantite_id = form.quantite.vars.id %}
        <label for="{{ quantite_id }}" class="form-label">Quantité</label>
        {{ form_widget(form.quantite, {
            'attr': {
                'class': 'form-control',
                'id': quantite_id,
                'min': 0,
                'step': 'any'
            }
        }) }}
    </div>
    <div class="col-md-2">
        {% set unite_id = ingredient_id ~ '_unite' %}
        <label for="{{ unite_id }}" class="form-label">Unité</label>
        <div id="{{ unite_id }}" class="unite-display form-control bg-light" style="min-height: 38px; line-height: 24px;"></div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger btn-sm remove-ingredient w-100">
            <i class="fas fa-trash me-1"></i>Supprimer
        </button>
    </div>
</div> 