{{ form_start(form, {'attr': {'class': 'form-group'}}) }}
    <div class="mb-3">
        {{ form_label(form.nom, 'Nom de l\'ingrédient', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.quantiteDefaut, 'Quantité par défaut', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.quantiteDefaut, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.unite, 'Unité', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.unite, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-primary">
        <i class="fa-solid fa-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
