{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.nom) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.unite) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.quantiteDefaut) }}
    </div>

    <button class="btn btn-primary">
        <i class="fa-solid fa-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
