{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid p-3">
        <h4 class="mb-3">Nouvel ingrédient</h4>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_row(form.nom, {
                    'attr': {
                        'class': 'form-control',
                        'placeholder': 'Ex: Farine, Sucre, Lait...'
                    }
                }) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.unite, {
                    'attr': {'class': 'form-select'}
                }) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.quantiteDefaut, {
                    'attr': {
                        'class': 'form-control',
                        'min': '0',
                        'step': 'any'
                    }
                }) }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
