<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Votre planning
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍽️</text></svg>">
		<meta name="csrf-token" content="{{ csrf_token('ingredient_new_ajax') }}">
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
			<link
			href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
			{# <link rel="stylesheet" href="{{ asset('/css/app.css') }}"> #}
			<style>
				html,
				body {
					height: 100%; /* Assure que le body prend toute la hauteur */
					display: flex;
					flex-direction: column; /* Aligne les éléments en colonne */
				}

				.body-content {
					flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
				}
				 .navbar{
					background-color: #f8f9fa; /* Couleur de fond du footer */

					font-family: 'Pacifico', cursive;
					font-size: 1.5rem;
					padding: 10px;
					box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
					text-align: center;
				 }

				.footer {
					background-color: #f8f9fa; /* Couleur de fond du footer */
					padding: 1rem 0; /* Espacement vertical */
				}

				.logout-btn {
					color: #6c757d;
					transition: color 0.3s ease;
					text-decoration: none;
					font-size: 1rem;
					padding: 0.5rem 1rem;
					border-radius: 20px;
					border: 1px solid transparent;
				}

				.logout-btn:hover {
					color: #dc3545;
					border-color: #dc3545;
					background-color: rgba(220, 53, 69, 0.1);
				}
			</style>
		{% endblock %}
	</head>
	<body>
	
<nav class="navbar navbar-expand-lg sticky-top shadow" style="background-color: #f8f9fa; text-decoration: none;">
    <div class="container">
        <a href="{{ path('home') }}" style="text-decoration: none; color: inherit;">
            <i class="fas fa-utensils me-2"></i>Planning-repas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
			<li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'planning_index' ? 'active' : '' }}" href="{{ path('planning_index') }}">
                        <i class="fas fa-calendar-alt me-1"></i>Planning
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'liste_courses_index' ? 'active' : '' }}" href="{{ path('liste_courses_index') }}">
                        <i class="fas fa-shopping-cart me-1"></i>Liste de courses
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-book me-1"></i>Recettes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item {{ app.request.get('_route') == 'index' ? 'active' : '' }}" href="{{ path('index') }}">
                            <i class="fas fa-list me-1"></i>Visualisation
                        </a></li>
                        <li><a class="dropdown-item {{ app.request.get('_route') == 'repas_sommaire' ? 'active' : '' }}" href="{{ path('repas_sommaire') }}">
                            <i class="fas fa-list-ol me-1"></i>En liste
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'ingredient_index' ? 'active' : '' }}" href="{{ path('ingredient_index') }}">
                        <i class="fas fa-carrot me-1"></i>Ingrédients
                    </a>
                </li>
                
                {% if app.user %}
                    <li class="nav-item ms-3">
                        <a href="{{ path('app_logout') }}" class="logout-btn">
                            <i class="fas fa-sign-out-alt me-1"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

		{# Ajout des messages flash #}
		<div class="container mt-3">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		<div class="body-content"> {% block body %}{% endblock %}
			</div>

			<footer class="footer">
				<div class="container text-center fs-4">
					<span class="text-muted">&copy;
						{{ 'now'|date('Y') }}
						Achats Reventes. Tous droits réservés.</span>
					<div class="">
						<H2>
							<strong>Utilisation totalement privée, ne pas utiliser sans accord écrit de l'auteur!</strong>
						</H2>
					</div>
				</div>
			</footer>

			{% block javascripts %}
				{# Ajouter jQuery en premier #}
				<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
				{# Ajouter Select2 juste après jQuery #}
				<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/fr.js"></script>
				{# Puis Bootstrap et autres scripts #}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
			{% endblock %}
		</body>
	</html>
